<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="../css/login.css">


<body>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card mt-5">
          <div class="card-body">
            <h1 class="text-center">Iniciar sesión</h1>
            <form action="/login" method="post">
              <div class="mb-3">
                <label for="email" class="form-label">Correo electronico:</label>
                <input type="text" class="form-control" id="email" name="email" required autocomplete="new-password">
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="password" name="password" required autocomplete="new-password">
              </div>
              <div class="mb-3">
                <input type="checkbox" name="remember_me" id="remember_me">
                <label for="remember_me">Recordarme</label>
              </div>
              <button type="submit" class="btn btn-primary">Iniciar sesión</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
